{
  "openapi": "3.0.3",
  "info": {
    "title": "Harness NextGen Software Delivery Platform API Reference",
    "description": "The Harness Software Delivery Platform uses OpenAPI Specification v3.0. Harness constantly improves these APIs. Please be aware that some improvements could cause breaking changes.",
    "termsOfService": "https://harness.io/terms-of-use/",
    "contact": {
      "email": "contact@harness.io"
    },
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://app.harness.io/gateway"
    }
  ],
  "security": [
    {
      "ApiKey": [
        "read",
        "write"
      ]
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "This contains APIs related to accounts as defined in Harness"
    },
    {
      "name": "EnvironmentGroup",
      "description": "This contains APIs related to EnvironmentGroup. Please enable Feature flag ENV_GROUP to use them"
    },
    {
      "name": "Connectors",
      "description": "This contains APIs related to Connectors as defined in Harness"
    },
    {
      "name": "GoogleSecretManagerConnector",
      "description": "This contains APIs specific to Google Secret Manager Connector as defined in Harness"
    },
    {
      "name": "File Store",
      "description": "This contains APIs related to File Store in Harness"
    },
    {
      "name": "Filter",
      "description": "This contains APIs related to Filter as defined in Harness"
    },
    {
      "name": "Git Branches",
      "description": "Contains APIs related to Git Sync Branch"
    },
    {
      "name": "Git Full Sync",
      "description": "Contains APIs related to Git Full Sync"
    },
    {
      "name": "Git Sync Settings",
      "description": "Contains APIs related to Git Sync Settings"
    },
    {
      "name": "SCM",
      "description": "Contains APIs related to Scm"
    },
    {
      "name": "Git Sync",
      "description": "Contains APIs for CRUD on Git Sync"
    },
    {
      "name": "Git Sync Errors",
      "description": "Contains APIs related to Git Sync Errors"
    },
    {
      "name": "Nextgen Ldap",
      "description": "This contains APIs related to Nextgen Ldap as defined in Harness"
    },
    {
      "name": "Usage",
      "description": "This contains APIs related to license usage as defined in Harness"
    },
    {
      "name": "Authentication Settings",
      "description": "This contains APIs related to Authentication settings as defined in Harness"
    },
    {
      "name": "AccountSetting",
      "description": "This contains APIs related to Account Settings as defined in Harness"
    },
    {
      "name": "Agent mTLS Endpoint Management",
      "description": "Contains APIs related to Agent mTLS Endpoint management."
    },
    {
      "name": "CustomDeployment",
      "description": "This contains APIs related to Custom Deployment"
    },
    {
      "name": "Delegate Download Resource",
      "description": "Contains APIs related to Downloading Delegates"
    },
    {
      "name": "Delegate Group Tags Resource",
      "description": "Contains APIs related to Delegate Group Tags management"
    },
    {
      "name": "Delegate Setup Resource",
      "description": "Contains Delegate Setup APIs"
    },
    {
      "name": "Delegate Token Resource",
      "description": "Contains APIs related to Delegate Token management"
    },
    {
      "name": "Environments",
      "description": "This contains APIs related to Environments"
    },
    {
      "name": "Infrastructures",
      "description": "This contains APIs related to Infrastructure Definitions"
    },
    {
      "name": "Invite",
      "description": "This contains APIs related to Invite as defined in Harness"
    },
    {
      "name": "ApiKey",
      "description": "This fetches API keys defined in Harness"
    },
    {
      "name": "ValidateHost",
      "description": "This contains APIs related to SSH or WinRm host validation"
    },
    {
      "name": "Hosts",
      "description": "This contains APIs related to Hosts as defined in Harness"
    },
    {
      "name": "Secret Managers",
      "description": "This contains APIs related to SecretManagers as defined in Harness"
    },
    {
      "name": "Secrets",
      "description": "This contains APIs related to Secrets as defined in Harness"
    },
    {
      "name": "Organization",
      "description": "This contains APIs related to Organization as defined in Harness"
    },
    {
      "name": "Project",
      "description": "This contains APIs related to Project as defined in Harness"
    },
    {
      "name": "Token",
      "description": "This contains APIs related to Token as defined in Harness"
    },
    {
      "name": "User Group",
      "description": "This contains APIs related to User Group as defined in Harness"
    },
    {
      "name": "Services",
      "description": "This contains APIs related to Services"
    },
    {
      "name": "SMTP",
      "description": "This contains APIs related to SmtpConfig as defined in Harness"
    },
    {
      "name": "tas",
      "description": "This contains APIs related to tas"
    },
    {
      "name": "User",
      "description": "This contains APIs related to User as defined in Harness"
    },
    {
      "name": "Variables",
      "description": "This contains APIs related to Variables as defined in Harness."
    },
    {
      "name": "Freeze CRUD",
      "description": "This contains APIs related to Freeze CRUD"
    },
    {
      "name": "Freeze Evaluation",
      "description": "This contains APIs related to evaluation Freeze status"
    },
    {
      "name": "Freeze Schema",
      "description": "This contains APIs related to construct schema for Freeze"
    },
    {
      "name": "Clusters",
      "description": "This contains APIs related to Gitops Clusters"
    },
    {
      "name": "Service Account",
      "description": "This has all the APIs specific to the Service Accounts in Harness."
    },
    {
      "name": "Source Code Manager",
      "description": "Contains APIs related to Source Code Manager"
    },
    {
      "name": "Webhook Event Handler",
      "description": "Contains APIs corresponding to Webhook Triggers."
    },
    {
      "name": "Setting",
      "description": "This contains APIs related to Settings as defined in Harness"
    },
    {
      "name": "Triggers",
      "description": "This contains APIs related to Triggers."
    },
    {
      "name": "Webhook Triggers",
      "description": "This contains APIs related to Webhook Triggers."
    },
    {
      "name": "Approvals",
      "description": "This contains APIs related to Pipeline approvals"
    },
    {
      "name": "Pipeline Dashboard",
      "description": "This contains APIs related to Pipeline Dashboard"
    },
    {
      "name": "Pipeline Input Set",
      "description": "This contains APIs related to Input Sets"
    },
    {
      "name": "Pipeline",
      "description": "This contains APIs related to Setup of Pipelines"
    },
    {
      "name": "Pipeline Execution Details",
      "description": "This contains APIs for fetching Pipeline Execution Details"
    },
    {
      "name": "Pipeline Execute",
      "description": "This contains APIs for Executing a Pipeline"
    },
    {
      "name": "Access Control List",
      "description": "This contains the APIs to perform access control checks"
    },
    {
      "name": "Permissions",
      "description": "This contains the APIs related to permissions"
    },
    {
      "name": "Role Assignments",
      "description": "This contains APIs for CRUD on role assignments"
    },
    {
      "name": "Roles",
      "description": "This contains APIs for CRUD on roles"
    },
    {
      "name": "Harness Resource Group",
      "description": "This contains APIs specific to the Harness Resource Group"
    },
    {
      "name": "Harness Resource Type",
      "description": "This contains APIs related to Harness Resource Type"
    },
    {
      "name": "Cloud Cost Anomalies",
      "description": "Get details about any anomalous spike in your cloud costs"
    },
    {
      "name": "Cloud Cost BI Dashboards",
      "description": "Get details of BI-dashboards specific to CCM"
    },
    {
      "name": "Cloud Cost Budgets",
      "description": "Manage Budgets and receive alerts when your costs exceed (or are forecasted to exceed) your budget."
    },
    {
      "name": "Cloud Cost K8S Connectors Metadata",
      "description": "Health related metadata for your k8S clusters having cost access enabled."
    },
    {
      "name": "Cloud Cost Details",
      "description": "Fetch cloud cost data for cost analysis"
    },
    {
      "name": "Cloud Cost Currency Preferences",
      "description": "Select destination currency to view different cloud provider currencies in destination currency"
    },
    {
      "name": "RuleEnforcement",
      "description": "This contains APIs related to Rule Enforcement "
    },
    {
      "name": "Rule",
      "description": "This contains APIs related to Rule Management "
    },
    {
      "name": "Cloud Cost Perspectives Folders",
      "description": "Group your Perspectives using Folders in ways that are more meaningful to your business needs."
    },
    {
      "name": "Cloud Cost Perspective Reports",
      "description": "Manage cost reports created on Perspectives."
    },
    {
      "name": "Cloud Cost Perspectives",
      "description": "Group your resources using Perspectives in ways that are more meaningful to your business needs."
    },
    {
      "name": "Cloud Cost Recommendations Details",
      "description": "Cloud Cost Recommendations details for workloads and node pools."
    },
    {
      "name": "Cloud Cost Recommendations",
      "description": "Recommendations for workloads and node pools."
    },
    {
      "name": "Cloud Cost Recommendation Jira",
      "description": "Cloud Cost recommendation CRUD apis for jira."
    },
    {
      "name": "Cloud Cost Recommendation Ignore List",
      "description": "Cloud Cost recommendation CRUD apis for recommendations ignore list."
    },
    {
      "description": "APIs to create and manage Feature Flag SDK API Keys",
      "name": "API Keys"
    },
    {
      "description": "APIs to create and manage Feature Flags",
      "name": "Feature Flags"
    },
    {
      "description": "APIs to create and manage Feature Flag Targets",
      "name": "Targets"
    },
    {
      "description": "APIs to create and manage Feature Flag Target Groups",
      "name": "Target Groups"
    },
    {
      "name": "Cloud Cost AutoStopping Rules",
      "description": "This contains APIs to create and manage AutoStopping Rules for your cloud resources."
    },
    {
      "name": "Cloud Cost AutoStopping Rules V2",
      "description": "This contains Autostopping v2 APIs that support the usage of Autostopping Proxy for managing cloud resources."
    },
    {
      "name": "Cloud Cost AutoStopping Load Balancers",
      "description": "This contains APIs to create and manage load balancers used for AutoStopping."
    },
    {
      "name": "Cloud Cost AutoStopping Fixed Schedules",
      "description": "This contains APIs to manage fixed schedules for the AutoStopping Rules."
    },
    {
      "name": "AuditFilters",
      "description": "This contains APIs related to Filter of type Audit as defined in Harness"
    },
    {
      "name": "Audit",
      "description": "This contains APIs related to Audit as defined in Harness"
    },
    {
      "name": "Templates",
      "description": "This contains a list of APIs specific to the Templates Validations and Refresh"
    },
    {
      "name": "Template Schemas",
      "description": "This contains a list of APIs specific to the Template Schemas"
    },
    {
      "name": "Monitored Services",
      "description": "This contains APIs related to CRUD operations of Monitored Services"
    },
    {
      "name": "SLOs dashboard",
      "description": "This contains APIs related to SLOs dashboard"
    },
    {
      "name": "NG SLOs",
      "description": "This contains APIs related to CRUD operations of SLOs (simple & composite)"
    },
    {
      "name": "SLOs",
      "description": "This contains APIs related to CRUD operations of SLOs"
    }
  ],
  "paths": {
    "/ng/api/accounts/{accountIdentifier}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets an account",
        "operationId": "getAccountNG",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "path",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns an account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOAccount"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/accounts/{accountIdentifier}/immutable-delegate-enabled": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Checks if immutable delegate is enabled for account",
        "operationId": "isImmutableDelegateEnabled",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "path",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns true if immutable delegate is enabled for account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/accounts/{accountIdentifier}/name": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update Account Name",
        "operationId": "updateAccountNameNG",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "path",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "This is details of the Account. Name is mandatory.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns an account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOAccount"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/accounts/{accountIdentifier}/default-experience": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update Default Experience",
        "operationId": "updateAccountDefaultExperienceNG",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "path",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "This is details of the Account. DefaultExperience is mandatory",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns an account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOAccount"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/environmentGroup": {
      "post": {
        "tags": [
          "EnvironmentGroup"
        ],
        "summary": "Create an Environment Group",
        "operationId": "postEnvironmentGroup",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Name of the branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "description": "Git Sync Config Id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "description": "if true, return all the default entities",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details of the Environment Group to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentGroupRequest"
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentGroupRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "If the YAML is valid, returns created Environment Group. If not, it sends what is wrong with the YAML",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOEnvironmentGroup"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOEnvironmentGroup"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/environmentGroup/{envGroupIdentifier}": {
      "get": {
        "tags": [
          "EnvironmentGroup"
        ],
        "summary": "Gets an Environment Group by identifier",
        "operationId": "getEnvironmentGroup",
        "parameters": [
          {
            "name": "envGroupIdentifier",
            "in": "path",
            "description": "Environment Group Identifier for the entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "description": "Organization Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "description": "Project Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deleted",
            "in": "query",
            "description": "Specify whether environment group is deleted or not",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Name of the branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "description": "Git Sync Config Id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "description": "if true, return all the default entities",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "The saved Environment Group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOEnvironmentGroup"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOEnvironmentGroup"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "EnvironmentGroup"
        ],
        "summary": "Update an Environment Group by Identifier",
        "operationId": "updateEnvironmentGroup",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envGroupIdentifier",
            "in": "path",
            "description": "Environment Group Identifier for the entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Name of the branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "description": "Git Sync Config Id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootFolder",
            "in": "query",
            "description": "Path to the root folder of the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filePath",
            "in": "query",
            "description": "Path to the root folder of the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commitMsg",
            "in": "query",
            "description": "Commit Message to use for the merge commit.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastObjectId",
            "in": "query",
            "description": "Last Object Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolvedConflictCommitId",
            "in": "query",
            "description": "If the entity is git-synced, this parameter represents the commit id against which file conflicts are resolved",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseBranch",
            "in": "query",
            "description": "Name of the default branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectorRef",
            "in": "query",
            "description": "Identifier of Connector needed for CRUD operations on the respective Entity",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Details of the Environment Group to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentGroupRequest"
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentGroupRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns the updated Environment Group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOEnvironmentGroup"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOEnvironmentGroup"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "EnvironmentGroup"
        ],
        "summary": "Delete en Environment Group by Identifier",
        "operationId": "deleteEnvironmentGroup",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envGroupIdentifier",
            "in": "path",
            "description": "Environment Group Identifier for the entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "description": "Organization Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "description": "Project Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Name of the branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "description": "Git Sync Config Id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootFolder",
            "in": "query",
            "description": "Path to the root folder of the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filePath",
            "in": "query",
            "description": "File Path of the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commitMsg",
            "in": "query",
            "description": "Commit Message to use for the merge commit.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastObjectId",
            "in": "query",
            "description": "Last Object Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "forceDelete",
            "in": "query",
            "description": "If true, the Entity will be forced delete, without checking any references/usages",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns true if the Environment Group is deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOEnvironmentGroupDelete"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOEnvironmentGroupDelete"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/environmentGroup/list": {
      "post": {
        "tags": [
          "EnvironmentGroup"
        ],
        "summary": "Gets Environment Group list",
        "operationId": "getEnvironmentGroupList",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "description": "Organization Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "description": "Project Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envGroupIdentifiers",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "description": "The word to be searched and included in the list response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page Index of the results to fetch.Default Value: 0",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Results per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort criteria for the elements.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterIdentifier",
            "in": "query",
            "description": "Filter identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Name of the branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "description": "Git Sync Config Id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "description": "if true, return all the default entities",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeAllEnvGroupsAccessibleAtScope",
            "in": "query",
            "description": "Specify true if all accessible environment groups are to be included",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "This is the body for the filter properties for listing Environment Groups",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterProperties"
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/FilterProperties"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns the list of Environment Groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOPageResponseEnvironmentGroup"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOPageResponseEnvironmentGroup"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/connectors/ccmK8sList": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Fetches the list of CMC K8S Connectors corresponding to the request's filter criteria.",
        "operationId": "getCCMK8SConnectorList",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Page number of navigation. The default value is 0",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of entries per page. The default value is 100",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "description": "This would be used to filter Connectors. Any Connector having the specified string in its Name, ID and Tag would be filtered.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "description": "Organization Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "description": "Project Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterIdentifier",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAllConnectorsAvailableAtScope",
            "in": "query",
            "description": "Specify whether or not to include all the Connectors accessible at the scope. For eg if set as true, at the Project scope we will get org and account Connector also in the response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Name of the branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "description": "Git Sync Config Id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "description": "if true, return all the default entities",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "getDistinctFromBranches",
            "in": "query",
            "description": "This when set to true along with GitSync enabled for the Connector, you can get one connector entity from each identifier. The connector entity can belong to any branch",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details of the filters applied",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectorFilterProperties"
              }
            },
            "text/yaml": {
              "schema": {
                "$ref": "#/components/schemas/ConnectorFilterProperties"
              }
            },
            "text/html": {
              "schema": {
                "$ref": "#/components/schemas/ConnectorFilterProperties"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/ConnectorFilterProperties"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns the list of Connectors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOPageResponseCcmK8sConnectorResponse"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOPageResponseCcmK8sConnectorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOPageResponseCcmK8sConnectorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/connectors": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "List all Connectors using filters",
        "description": "Lists all the Connectors matching the specified filters.",
        "operationId": "getConnectorList",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Page number of navigation. The default value is 0",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of entries per page. The default value is 100",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "description": "Organization Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "description": "Project Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "description": "This would be used to filter Connectors. Any Connector having the specified string in its Name, ID and Tag would be filtered.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter Connectors by type",
            "schema": {
              "type": "string",
              "enum": [
                "K8sCluster",
                "Git",
                "Splunk",
                "AppDynamics",
                "Prometheus",
                "Dynatrace",
                "Vault",
                "AzureKeyVault",
                "DockerRegistry",
                "Local",
                "AwsKms",
                "GcpKms",
                "AwsSecretManager",
                "Gcp",
                "Aws",
                "Azure",
                "Artifactory",
                "Jira",
                "Nexus",
                "Github",
                "Gitlab",
                "Bitbucket",
                "Codecommit",
                "CEAws",
                "CEAzure",
                "GcpCloudCost",
                "CEK8sCluster",
                "HttpHelmRepo",
                "NewRelic",
                "Datadog",
                "SumoLogic",
                "PagerDuty",
                "CustomHealth",
                "ServiceNow",
                "ErrorTracking",
                "Pdc",
                "AzureRepo",
                "Jenkins",
                "OciHelmRepo",
                "CustomSecretManager",
                "ElasticSearch",
                "GcpSecretManager",
                "AzureArtifacts",
                "Tas",
                "Spot"
              ]
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter Connectors by category",
            "schema": {
              "type": "string",
              "enum": [
                "CLOUD_PROVIDER",
                "SECRET_MANAGER",
                "CLOUD_COST",
                "ARTIFACTORY",
                "CODE_REPO",
                "MONITORING",
                "TICKETING"
              ]
            }
          },
          {
            "name": "source_category",
            "in": "query",
            "description": "Filter Connectors by Source Category. Available Source Categories are CLOUD_PROVIDER, SECRET_MANAGER, CLOUD_COST, ARTIFACTORY, CODE_REPO,  MONITORING and TICKETING",
            "schema": {
              "type": "string",
              "enum": [
                "CLOUD_PROVIDER",
                "SECRET_MANAGER",
                "CLOUD_COST",
                "ARTIFACTORY",
                "CODE_REPO",
                "MONITORING",
                "TICKETING"
              ]
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Name of the branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "description": "Git Sync Config Id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "description": "if true, return all the default entities",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns the list of Connectors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOPageResponseConnectorResponse"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOPageResponseConnectorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOPageResponseConnectorResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "put": {
        "tags": [
          "Connectors"
        ],
        "summary": "Update a Connector",
        "description": "Updates a Connector for the given ID.",
        "operationId": "updateConnector",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Name of the branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "description": "Git Sync Config Id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootFolder",
            "in": "query",
            "description": "Path to the root folder of the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filePath",
            "in": "query",
            "description": "Path to the root folder of the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commitMsg",
            "in": "query",
            "description": "Commit Message to use for the merge commit.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastObjectId",
            "in": "query",
            "description": "Last Object Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolvedConflictCommitId",
            "in": "query",
            "description": "If the entity is git-synced, this parameter represents the commit id against which file conflicts are resolved",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseBranch",
            "in": "query",
            "description": "Name of the default branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectorRef",
            "in": "query",
            "description": "Identifier of Connector needed for CRUD operations on the respective Entity",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "This is the updated Connector. Please provide values for all fields, not just the fields you are updating",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Connector"
              }
            },
            "text/yaml": {
              "schema": {
                "$ref": "#/components/schemas/Connector"
              }
            },
            "text/html": {
              "schema": {
                "$ref": "#/components/schemas/Connector"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/Connector"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns the updated Connector",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorResponse"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Create a Connector",
        "description": "Creates a new Harness Connector.",
        "operationId": "createConnector",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Name of the branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "description": "Git Sync Config Id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootFolder",
            "in": "query",
            "description": "Path to the root folder of the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filePath",
            "in": "query",
            "description": "File Path of the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commitMsg",
            "in": "query",
            "description": "File Path of the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isNewBranch",
            "in": "query",
            "description": "Checks the new branch",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "baseBranch",
            "in": "query",
            "description": "Name of the default branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectorRef",
            "in": "query",
            "description": "Identifier of Connector needed for CRUD operations on the respective Entity",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storeType",
            "in": "query",
            "description": "Tells whether the Entity is to be saved on Git or not",
            "schema": {
              "type": "string",
              "enum": [
                "INLINE",
                "REMOTE"
              ]
            }
          },
          {
            "name": "repoName",
            "in": "query",
            "description": "Name of the repository.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Details of the Connector to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Connector"
              }
            },
            "text/yaml": {
              "schema": {
                "$ref": "#/components/schemas/Connector"
              }
            },
            "text/html": {
              "schema": {
                "$ref": "#/components/schemas/Connector"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/Connector"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns created Connector",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorResponse"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/connectors/{identifier}": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Return Connector details",
        "description": "Returns the Connector's details for the given Account and Connector ID.",
        "operationId": "getConnector",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "description": "Organization Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "description": "Project Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "Connector Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Name of the branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "description": "Git Sync Config Id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "description": "if true, return all the default entities",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns the connector with the requested accountIdentifier and connectorIdentifier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorResponse"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Connectors"
        ],
        "summary": "Delete a Connector",
        "description": "Deletes a Connector for the given ID.",
        "operationId": "deleteConnector",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "description": "Organization Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "description": "Project Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "Connector ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Name of the branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "description": "Git Sync Config Id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootFolder",
            "in": "query",
            "description": "Path to the root folder of the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filePath",
            "in": "query",
            "description": "File Path of the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commitMsg",
            "in": "query",
            "description": "Commit Message to use for the merge commit.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastObjectId",
            "in": "query",
            "description": "Last Object Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "forceDelete",
            "in": "query",
            "description": "If true, the Entity will be forced delete, without checking any references/usages",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "It returns true if the Connector is deleted successfully and false if the Connector is not deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOBoolean"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOBoolean"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/connectors/fieldValues": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "List all the configured field values for the given Connector type.",
        "description": "Returns all the configured field values for the given Connector type, which can be used during connector creation.",
        "operationId": "getAllAllowedFieldValues",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectorType",
            "in": "query",
            "description": "Connector type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "K8sCluster",
                "Git",
                "Splunk",
                "AppDynamics",
                "Prometheus",
                "Dynatrace",
                "Vault",
                "AzureKeyVault",
                "DockerRegistry",
                "Local",
                "AwsKms",
                "GcpKms",
                "AwsSecretManager",
                "Gcp",
                "Aws",
                "Azure",
                "Artifactory",
                "Jira",
                "Nexus",
                "Github",
                "Gitlab",
                "Bitbucket",
                "Codecommit",
                "CEAws",
                "CEAzure",
                "GcpCloudCost",
                "CEK8sCluster",
                "HttpHelmRepo",
                "NewRelic",
                "Datadog",
                "SumoLogic",
                "PagerDuty",
                "CustomHealth",
                "ServiceNow",
                "ErrorTracking",
                "Pdc",
                "AzureRepo",
                "Jenkins",
                "OciHelmRepo",
                "CustomSecretManager",
                "ElasticSearch",
                "GcpSecretManager",
                "AzureArtifacts",
                "Tas",
                "Spot"
              ]
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns all the configured field values for the given Connector type, which can be used during connector creation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOFieldValues"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOFieldValues"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOFieldValues"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/connectors/getceawstemplateurl": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Get the Template URL of connector",
        "operationId": "getCEAwsTemplate",
        "parameters": [
          {
            "name": "eventsEnabled",
            "in": "query",
            "description": "Specify whether or not to enable events",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "curEnabled",
            "in": "query",
            "description": "Specify whether or not to enable CUR",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "optimizationEnabled",
            "in": "query",
            "description": "Specify whether or not to enable optimization",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns the cloud formation template URL to configure the Cloud Cost AWS Connector",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOString"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOString"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOString"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/ng/api/connectors/catalogue": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Lists all Connectors for an account",
        "description": "Lists all the Connectors for the given Account ID.",
        "operationId": "getConnectorCatalogue",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns the Connector catalogue response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorCatalogueResponse"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorCatalogueResponse"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorCatalogueResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/connectors/stats": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Gets the connector's statistics by Account Identifier, Project Identifier and Organization Identifier",
        "operationId": "getConnectorStatistics",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "description": "Organization Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "description": "Project Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Name of the branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "description": "Git Sync Config Id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "description": "if true, return all the default entities",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns the Connector's statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorStatistics"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorStatistics"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorStatistics"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/connectors/listV2": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Fetches the list of Connectors corresponding to the request's filter criteria.",
        "operationId": "getConnectorListV2",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Page number of navigation. The default value is 0",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of entries per page. The default value is 100",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "description": "This would be used to filter Connectors. Any Connector having the specified string in its Name, ID and Tag would be filtered.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "description": "Organization Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "description": "Project Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterIdentifier",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAllConnectorsAvailableAtScope",
            "in": "query",
            "description": "Specify whether or not to include all the Connectors accessible at the scope. For eg if set as true, at the Project scope we will get org and account Connector also in the response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Name of the branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "description": "Git Sync Config Id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "description": "if true, return all the default entities",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "getDistinctFromBranches",
            "in": "query",
            "description": "This when set to true along with GitSync enabled for the Connector, you can get one connector entity from each identifier. The connector entity can belong to any branch",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details of the filters applied",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectorFilterProperties"
              }
            },
            "text/yaml": {
              "schema": {
                "$ref": "#/components/schemas/ConnectorFilterProperties"
              }
            },
            "text/html": {
              "schema": {
                "$ref": "#/components/schemas/ConnectorFilterProperties"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/ConnectorFilterProperties"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns the list of Connectors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOPageResponseConnectorResponse"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOPageResponseConnectorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOPageResponseConnectorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/connectors/listbyfqn": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Get list of Connectors by FQN",
        "description": "Lists all Connectors for an Account by Fully Qualified Name (FQN).",
        "operationId": "listConnectorByFQN",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of ConnectorsFQN as strings",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/yaml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/html": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/plain": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns the list of Connectors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOListConnectorResponse"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOListConnectorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOListConnectorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/connectors/testConnection/{identifier}": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Test Harness Connector connection with third-party tool",
        "description": "Tests if a Harness Connector can successfully connect Harness to a third-party tool.",
        "operationId": "getTestConnectionResult",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "description": "Organization Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "description": "Project Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "Connector ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Name of the branch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "description": "Git Sync Config Id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "description": "if true, return all the default entities",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns the Connector validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorValidationResult"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorValidationResult"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorValidationResult"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/connectors/testGitRepoConnection/{identifier}": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Test Git Connector sync with repo",
        "description": "Tests if a Git Repo Connector can successfully connect Harness to a Git provider.",
        "operationId": "getTestGitRepoConnectionResult",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "description": "Organization Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "description": "Project Identifier for the Entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoURL",
            "in": "query",
            "description": "URL of the repository, specify only in the case of Account Type Git Connector",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "Connector ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Returns the Connector validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorValidationResult"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorValidationResult"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTOConnectorValidationResult"
                }
              }
            }
          }
        }
      }
    },
    "/ng/api/connectors/validateUniqueIdentifier": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Test a Harness Connector",
        "description": "Tests if a Connector can successfully connect Harness to a third-party tool using the an Account and Connector ID.",
        "operationId": "validateTheIdentifierIsUnique",
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "Account Identifier for the Entity.",
            "required": true,
            "schema": {
              "type": "string"
            }
[...]
